@import url(media.css);

.nav-custom{
    /* line-height: 1em; */
    position: fixed;
    background-color: transparent;
    width: 100vw;
    
    z-index: 4;
    color: #fff;
    font-family: "Signika", sans-serif;
    transition: .5s;

    /* background-color: red; */
}

.nav-custom h2 {
    font-size: 1em;
    margin: 0;
}

.nav-custom-scroll{
    background-color: #6e8e4a;;
    color: #fff;
    transition: .5s;
}

.nav-custom {
    padding: 1.5em;
}

.bars-custom{
    line-height: 1em;
    font-size: 2em;
}
.list-custom { 
    background-color: transparent;
    position: fixed;
    top: 70px;
    z-index: 4;
    width: 100%;
    
    backdrop-filter: blur(50px);
}

.list-custom li {
    padding: 1em 0;
    border-bottom: 1px solid #999;
}

.list-custom li:hover{
    background-color: #ebd99c39;
}

.list-custom a { 
    display: block;
    color: #999;
    text-decoration: none;
    width: 100%;    
}

.list-close{
    top: -100%;
    transition: 1s;
}

.list-open{
    left: 0;
    transition: 1s;
    
}



.home-custom {
    
    
    width: 100%;
    height: 100vh;

    font-family: 'Pacifico', cursive;
    color: #ffffff;

    position: relative;
    
    
}



.blur{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    background-image: url(../images/home.avif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 

}
.main-ins{
    transform: translateY(-100px);
    opacity: 0;
    position: relative;
    z-index: 2;
    
}

.main-ins-after{
    transform: translateY(0);
    opacity: 1;
    transition: 2s;
    position: relative;
    z-index: 2;
}

.second-ins{
    transform: translateY(100px);
    opacity: 0;
    position: relative;
    z-index: 2;
    
}

.second-ins-after{
    transform: translateY(0);
    opacity: 1;
    transition: 2s;
    position: relative;
    z-index: 2;
}

.main-ins #peteug,
.main-ins #slog { 
    font-size: 2.2em;
}





#heart{
    position: absolute;
    width: 50vw;
    text-align: center;
    bottom: 3em;
    font-size: 2em;    
    animation: heart 1s ease-in infinite  ;
    color: #fff;
    z-index: 3;
}



@keyframes heart {
    0%{
        transform: translateY(0);
    }

    30%{
        transform: translateY(15px);

    }
    65%{
        transform: translateY(4px);
    }
    80%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(0);
    }
}




/* Section - 2 WHAT ? */

.what {
    width: 100%;
    height: 100vh;
    font-family: 'Pacifico', cursive;
    /* background-color: red; */
    position: relative;
}

.what-bg{
    position: absolute;
    bottom: 0;
    z-index: -2;
    height: 55vh;
    

    width: 100%; 

    

}
.what-bg img{
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.what-ins #wed-ins{
    font-size: 2em;
}

.ce-animation{
    margin: 2em auto;
    
}

.mireasa , .mire  {
    
    height: 200px;
    
}

.mire{
    transform: translateX(80px);
    opacity: 0;
    transition: 2s;
}

.mireasa{
    transform: translateX(-150px);
    opacity: 0;
    transition: 2s;
}

.mire-after{
    transform: translateX(-69px);
    opacity: 1;
}

.mireasa-after{
    transform: translateX(-50px);
    opacity: 1;
    position: relative;
    z-index: 2;
    
}


.flower{
    display: block;
    width: 100%;
    animation: flower 2s ease-in infinite forwards ;
   
}

@keyframes flower {
    0%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100%{transform: rotate(-5deg);}
    
}

.what-ins p {
    width: 50vw;
    /* background-image: url(../images/bg-flower.jpg); */

    background-repeat: no-repeat;

}



/* Section -3 When ? */

#cand {
    height: 100vh;
    font-family: 'Pacifico', cursive;
    color: #fff;
    
}





/* Section -4 Where?  */

#unde{
    height: 80vh;
    font-family: "Signika", sans-serif;
}

.img-bg{   
  width: 390px; 
  margin: 0 auto; 
  
}

#glasses {
    width: 100%;
}

.unde-list li {
    padding: 1em;
    border-bottom: 1px solid #6e8e4a;
}

.unde-list li i {
    color: #6e8e4a;
}
.unde-list a {
    color: #111;
    text-decoration: none;
}

/* Section 5 - confirm */
#confirm {
    background-color: beige;
    padding: 1em;
}
.main-form {
    background-color: #fff;
    width: 80vw;
    margin: 0 auto;
    padding: 1em;
    font-family: "Signika", sans-serif;
}

.main-form .question h2 {
    font-family: 'Pacifico', cursive;
    color: #6e8e4a;
}


.form-1 {
    margin:2em 0 ;
    
}
.form-0 #name:focus,
.form-1 .person:focus,
.form-2 .child:focus,
.message #sms:focus    {
    outline: 1px solid #6e8e4a;
}

.main-form .ps .ps-second {
   color:#6e8e4a;
   font-family: 'Pacifico', cursive;
    
}


.form-2{
    margin:2em 0 ;
}

.person, .child, #sms, #name {   
    width: 90%;
    border: 1px solid #aaa;
    padding: 1em;
}
.submit input{
    border: none;
    padding: 1em;
}

.submit input:first-child{
    
    background-color: #6e8e4a;
    color: #fff;
}

.submit input:last-child{
    
   border: 1px solid #6e8e4a;
    color: #111;
    background-color: #fff;
}
 

/* Footer - END */

#end p {
    font-size: 2em;
}

#end h3:nth-child(2){
    color: #6e8e4a;
    font-family: 'Pacifico', cursive;

}

#end h3:nth-child(3),
#end h3:last-child {
    font-family: "Signika", sans-serif;
    font-size: .7em;
}